@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');

*{ margin:0; padding:0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;}
img {vertical-align: middle; max-width:100%;}
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.pc {display:none;}

header {}
.navbar { font-size:14px; font-family:'Cairo'; font-weight:600; background-color: #534cda; position:relative; }
.signLog {transform: translate(-10px,-50%);}
.navbar_center {white-space: nowrap;}
.navbar i {color:#fff;}
.navbar a {color:#fff;}


.navbar_shadow {display:none; width:100%; height:45px; background: #111; position:absolute; top:55px;}


/*  section01  */

section {padding: 0 0 70px 0; overflow-x: hidden;}

.section01 { }
.section01_text_w {position:absolute; top:11vw;}
.section01_text { font-size:4vw; font-weight:700; font-family: 'Cairo'; color:red;}
.text_sub {}

.section01 button, .content03_review button {background:#534cda;}
.section01 button:hover {background:#534cda; opacity:.8; border: 1px solid transparent;}


.vid_w video{ width:50vw; position:absolute; top:100px; right:0; }

.content02 {z-index: 10; transform: translateY(-160px);}
.content02 h1 {font-family: 'Cairo'; font-weight: 700;}



.content03_review > div {margin-left: 20px;}
.content03_review h1 {font-family: 'Cairo'; font-size:45px; font-weight: 700;}
.review_img img { }

.content03_review button a {text-decoration: none; color:#fff;}

footer {padding:40px 0 70px; position:relative; overflow-x: hidden;}

footer > .line {position:absolute; display:block; bottom:20px; width:100px; height:2px; background:#fff; }

.copyright_text {position:absolute; bottom:15px; margin:auto; overflow-x: hidden;}
footer > div > p {font-size:12px;}

.sns{}
.sns ul {float:light;}

/* 1440px 이상 */
@media (min-width:1440px){
    header {}

}

/* 991px 미만 */
@media (min-width:991px){
    header { }

}

/* 992px 이상(lg) */
@media (min-width:992px){

}

/* 1200px 이상(xl) */
@media (min-width:1200px){
    .pc {display:block;}

}

/* 1400px 이상(xxl) */
@media (min-width:1400px){
}